.center {
    display: block;
    margin: 0 auto;
}

.aligned{
    text-align: center;
}

p {
    font-family: Arial, sans-serif;
}

h1 {
    font-family: Arial, sans-serif;
}

h2 {
    font-family: Arial, sans-serif;
}

h3 {
    font-family: Arial, sans-serif;
}
